.recipe-display {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: lightsalmon;
    border-radius: 2rem;
    padding: 2rem;
}

.select-recipe {
    align-self: center;
    margin-top: 1.5rem;
}

.recipe-checkbox {
    margin-left: 1rem;
}

.recipe-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cook-time {
    align-self: flex-end;
}

.recipe-ingredients {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.recipe-ingredient {
    width: 33%;
}